.survey-content{ background-color: #ffe1dd;
    .survey-header-wrap{
        .survey-header{
            p{ text-align: center; font-family: 'PT Sans'; font-size:36px; ;font-weight: 400; padding-top: 33px; padding-bottom: 15px; }
        }
    }
    .children-box-wrap{
        .children-box-coll{padding: 0;
            .box-imges{
                a{
                    img{ padding: 0 8px; }
                }
            }
            p{font-family: 'PT Sans'; font-size:18px; ;font-weight: 400; padding: 14px 8px 27px; text-align: justify;}
        }
    }
}
.school-content{background-color: white !important;}