.footer{
    .if_quastion{background: url(../images/footer_bg.jpg) left top repeat-x;}
    .if_quastion_wrap{color: white;
        .if_quastion_title{
            h5{font-size: 60px;}
        }
        .if_quastion_right{font-size: 24px;}
    }
}