// footer
.footer{
    .if_quastion{background: url(../images/footer_bg.jpg) left top repeat-x;padding: 44px 0px 50px;background-size: cover;display: block;}
    .if_quastion_wrap{color: white;
        .if_quastion_title{
            h5{font-size: 60px;}
        }
        .if_quastion_right{font-size: 24px;padding-top: 15px;
            a{color: white;text-decoration: none;
                &.footer-mail{text-decoration: underline;
                    &:hover{text-decoration: none;}
                }
            }
        }
    }
    .footer-bottom{background-color: #3a3a3a;font-size: 18px;padding: 21px 0px;
        .footer-bottom-inform{text-transform: uppercase;
            a{color: white;text-decoration: none;
                &:hover{opacity: .8;}
            }
        }
        .footer-bottom-button{
            a{color: white;text-transform: uppercase;display: inline-block;vertical-align: middle;text-decoration: none;
                &:hover{opacity: .8;}
            }
            .icon-footer-top{display: inline-block;height: 20px;width: 20px;border-radius: 50%;border:2px solid white;vertical-align: middle;position: relative;
                &:after{position: absolute;border-bottom: 5px solid white;border-left: 3px solid transparent;border-right: 3px solid transparent;bottom: 6px;content: '';left: 5px;}
            }
            span{vertical-align: middle;}
        }
    }
    .animate-delay{opacity: 0;transition:opacity ease .3s;transform: translate(0, -20%);
        &.animated{opacity: 1;transform: translate(0, 0);}
    }
}
// header
.header{background: url('../images/header-bg.png') left top;
    .heade-top{position: relative;opacity: 0;transition:all ease-out .3s;transform: translate(-20%, 0);
        &.animated{opacity: 1;transform: translate(0, 0);}
        .head-logo{}
        .head-title{position: absolute;top: 38px;left: 157px;font-size: 28px;color: #272f3b;
            h2{margin: 0;white-space: nowrap;letter-spacing: -1px;}
        }
    }
    .head_cloud{position: relative;opacity: 0;transition:all ease-out .3s;transform: translate(0%, -30%);
        &.animated{opacity: 1;transform: translate(0, 0);}
        .head_cloud_img{}
        .head_cloud_text{position: absolute;text-align: right;top: 27px;right: 0;left: 0;
            p{padding-right: 35px;font-size: 18px;line-height: 18px;}
            a{text-decoration: none;color: #000;font-size: 18px;}
            .head-tel{
                span{font-size: 18px;display: inline-block;}
                .big{font-size: 36px;}
            }
            .head-mail{padding-top: 7px;display: block;}
        }
    }
    .head-center{padding-top: 10px;padding-bottom: 26px;opacity: 0;transition:all ease-out .3s;transform: translate(0, 30%);
        &.animated{opacity: 1;transform: translate(0, 0);}
        h2{font-weight: 700;margin: 0;font-size: 36px;color: #2d4e7a;display: block;}
    }
}

.sertification-wrap{padding-bottom: 53px;padding-top: 72px;
    .sertification-text{font-size: 18px;
        p{padding-top: 32px;}
    }
    .sertification-middle-text{font-size: 18px;padding-top: 18px;}
    .animate-delay{opacity: 0;transition:all ease .3s;transform: translate(0, -10%);
        &.animated{opacity: 1;transform: translate(0, 0);}
    }
}

.quastionform-wrap{padding-bottom: 42px;
    .quastionform-title{
        h2{font-size: 72px;}
    }
    .quastionform-img{border-radius: 50%;overflow: hidden;height: 140px;width: 140px;position: relative;
        img{position: absolute;top: 0;right: 0;left: 0;bottom: 0;margin-right: 0;width: 100%;height: 100%;}
    }
    .quastionform-top{padding-left: 83px;
        span{font-size: 24px;color: #000;}
        a{color: #000;}
        p{font-size: 18px;}
    }
    .quastionform-row{padding-top: 25px;}
    .quastionform-row-bottom{margin-top: -50px;margin-left: 50px;
        .quastionform-top{padding-left: 40px;
            a,span{padding-top: 5px;display: inline-block;}
            p{padding-top: 19px;}
        }
    }
    .animate-delay{opacity: 0;transition:opacity ease .3s;transform: translate(0, -10%);
        &.animated{opacity: 1;transform: translate(0, 0);}
    }
}

.datepiker-wrap{padding-bottom: 21px;display: none;
    &.show{display: block;}
    .datepiker-kalendar{min-height: 460px;position: relative;z-index: 1;
        &:after{position: absolute;top: 66px;right: 0;bottom: 0;left: 0;content: '';z-index: 2;}
    }
    &>*{box-sizing:border-box;}
    .ui-widget-content{background-color: #e0e0e0;border:none;padding: 20px;padding-top: 5px;box-shadow: 7px 8px 14px 3px rgba(212, 212, 212, 0.78);}
    .ui-datepicker .ui-datepicker-title{font-weight: bold;color: #535353;font-size: 30px;}
    .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next{
        width: 22px;height: 22px;border-left:18px solid grey;border-top:13px solid transparent;border-bottom:13px solid transparent;background:none;border-radius:0px;right: 0;top: 22px;
    }
    .ui-datepicker .ui-datepicker-prev{border-right:18px solid grey;border-left:none;}
    .ui-datepicker td {border: 2px solid white;
        &.engaged{background: linear-gradient(180deg, rgb(67, 142, 173) 49%, rgb(54, 132, 165) 51%);}
    }
    .ui-datepicker-calendar tbody tr{border:none;background: linear-gradient(180deg, rgb(127, 189, 107) 49%, rgb(116, 182, 95) 51%);}
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{font-size: 30px;color: white;border-radius: 0;border:none;margin:0;width: auto;height: auto;display: block;text-align: center;line-height: 55px;background: none;}
    .ui-datepicker-year{font-size: inherit;}
    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{background-color: inherit;}
    .ui-datepicker-today{
        a{box-shadow: inset 0px 0px 0px 2px red;}
    }
    .ui-datepicker-other-month{background-color: #e8e8e8;
        a{color: #b7b7b7 !important;}
    }
    .ui-datepicker .ui-datepicker-header{padding-bottom: 10px;}
    h5{font-size: 36px;padding-top: 20px;padding-bottom: 32px;}
    .datepiker-text{padding-bottom: 32px;}
    .datepiker-text-row{padding-bottom: 5px;
        .datepiker-text-date{display: inline-block;height: 40px;width: 40px;text-align: center;background: linear-gradient(180deg, rgb(67, 142, 173) 49%, rgb(54, 132, 165) 51%);float: left;margin-right: 17px;
            span{color: white;font-size: 24px;line-height: 40px;}
        }
        .datepiker-text-desc{font-size: 18px;
            p{padding-top: 5px;}
        }
    }
    .datepiker-sub-text{font-size: 18px;margin-bottom: 15px;}
    .animate-delay{opacity: 0;transition:all ease .3s;transform: translate(0, -10%);
        &.animated{opacity: 1;transform: translate(0, 0);}
    }
}