/* titles styled */

.title-wrap{text-align: center;font-size: 36px;color:#000000;margin-bottom: 35px;padding-top:55px;}

/* /titles styled */

/* topSlider */

.topSlider-main{
    .slick-arrow{font-size: 0;color:transparent;height: 80px;width: 80px;border-radius: 50%;border:1px solid #fff;background-color:#da0000;position: absolute;top: calc(50% - 40px);transform:scale(.8);transition:transform 300ms ease;z-index: 1;
        &:after{content: '';display: block;background-image:url(../images/topSlider-arrow.png);width: 61px;height: 38px;position:absolute;left: 50%;top: 50%;transform:translate(-50%, -50%);}
        &:hover{transform:scale(1);}
        &:focus{outline:none;}
        &.slick-prev{left: 10px;}
        &.slick-next{right: 10px;
            &:after{background-position: top right;}
        }
    }
    .slick-dots{position: absolute;width: 100%;bottom: 0;left: 0;text-align: center;margin-bottom: 8px;
        li{display: inline-block;margin: 0 5px;
            button{font-size: 0;color:transparent;padding: 0;margin: 0;width: 10px;height: 10px;border:none;border-radius: 50%;box-shadow:inset 2px 2px 2px 0 rgba(0,0,0,.25);background-color: #fff;
                &:focus{outline:none;}
            }
            &.slick-active button{background-color:#00b7bb;}
        }
    }
}

.topSlider-description{position: absolute;left: 0;right: 0;bottom: 50px;
    .topSlider-description-item{padding: 10px 15px 10px 20px;border-radius: 20px;background-color: #fff;font-size: 18px;color:#000000;}
}

.topSlider-img{overflow: hidden;
    img{position: relative;left: 50%;transform:translate(-50%,0);max-width: none;}
}

/* /topSlider */

/* decoration slider */

.decoration-img{margin-bottom: 27px;
    &:last-child{margin-bottom: 0;}
}

/* /decoration slider */